#login-area{
    padding: 100px;
}
.submit-area{
    box-shadow: 5px 5px 10px gray;
    border-radius: 8px;
    padding: 40px;
}
#transaction-area{
    display: none;
    margin-top: 100px;
}
#error{
    margin-top: 20px;
}
.deposit{
    background-color: steelblue;
}
.withdraw{
    background-color: lightsalmon;
}
.balance{
    background-color: orange;
}
.status{
    padding: 40px 60px;
    border-radius: 10px;
    color: white;
}
.push-amount{
    margin-top: 80px;
}